h1, h2, h3, h4, h5, h6{
    /* font-family: 'Poiret One', cursive; */
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Sacramento', cursive; */
}
/* h3, h4, h5, h6{
  font-family: 'Poppins', sans-serif;
} */
.page-enter-active,
.page-leave-active {
  transition: opacity 0.4s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
.app{
  background-color: #c1d5ff;
}